*appsettings.Development.json
Coinbase.Api/Coinbase.Api.Tests/bin/
Coinbase.Api/Coinbase.Api.Tests/obj/
Coinbase.Api/Coinbase.Api/.vs/
Coinbase.Api/Coinbase.Api/bin/
Coinbase.Api/Coinbase.Api/obj/
Coinbase.Services.Identity/Coinbase.Services.Identity.Tests/bin
Coinbase.Services.Identity/Coinbase.Services.Identity.Tests/obj/
Coinbase.Services.Identity/Coinbase.Services.Identity/.vs/
Coinbase.Services.Identity/Coinbase.Services.Identity/bin/
Coinbase.Services.Identity/Coinbase.Services.Identity/obj/
